<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233987996675-0da6ba264ekqj4sap59t9iss4566vbu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233987996675-0da6ba264ekqj4sap59t9iss4566vbu8</string>
	<key>API_KEY</key>
	<string>AIzaSyC2yJDrMLeNobGHKUS5VAC38l_a5KNn8Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>233987996675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jiggle.ai</string>
	<key>PROJECT_ID</key>
	<string>jiggle-22239</string>
	<key>STORAGE_BUCKET</key>
	<string>jiggle-22239.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233987996675:ios:75abdb76927cb863f16236</string>
</dict>
</plist>